################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UWP/MeetingManagerUWP/.vs/MeetingManager/v14/.suo
*.zip
/UWP/MeetingManagerUWP/MeetingManager/bin/x86/Debug
/UWP/Meeting_Manager_UWP/.vs/MeetingManager/v14
/UWP/Meeting_Manager_UWP/MeetingManager/AppPackages/MeetingManager_1.0.0.0_Debug_Test
/UWP/Meeting_Manager_UWP/MeetingManager/bin
/UWP/Meeting_Manager_UWP/MeetingManager/BundleArtifacts
