################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UWP/MeetingManagerUWP/.vs/MeetingManager/v14/.suo
*.zip
/UWP/MeetingManagerUWP/MeetingManager/bin/x86/Debug
/UWP/Meeting_Manager_UWP/.vs/MeetingManager/v14
/UWP/Meeting_Manager_UWP/MeetingManager/AppPackages/MeetingManager_1.0.0.0_Debug_Test
/UWP/Meeting_Manager_UWP/MeetingManager/bin
/UWP/Meeting_Manager_UWP/MeetingManager/BundleArtifacts
/UWP/Meeting_Manager_UWP/MeetingManager/obj
/UWP/Meeting_Manager_UWP/.vs/config
/Xamarin/Meeting_Manager_Xamarin/Meeting_Manager_Xamarin/Meeting_Manager_Xamarin/bin/Debug
/Xamarin/Meeting_Manager_Xamarin/Meeting_Manager_Xamarin/Meeting_Manager_Xamarin/obj/Debug
/Xamarin/Meeting_Manager_Xamarin/Meeting_Manager_Xamarin/Meeting_Manager_Xamarin.Droid/bin/Debug
/Xamarin/Meeting_Manager_Xamarin/Meeting_Manager_Xamarin/Meeting_Manager_Xamarin.Droid/obj/Debug
/Xamarin/Meeting_Manager_Xamarin/Meeting_Manager_Xamarin/Meeting_Manager_Xamarin.iOS/obj/iPhone/Debug
/Xamarin/Meeting_Manager_Xamarin/Meeting_Manager_Xamarin/Meeting_Manager_Xamarin.UWP/bin/x86/Debug
/Xamarin/Meeting_Manager_Xamarin/Meeting_Manager_Xamarin/Meeting_Manager_Xamarin.UWP/obj/x86
/Xamarin/Meeting_Manager_Xamarin/packages
